.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 77;
    display: flex;
    padding: 15px calc(10px + 1vw) 12px calc(10px + 1vw);
    text-align: center;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    button {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5px;
        flex-basis: 25%;
        box-sizing: border-box;
    }
    h5 {
        color: inherit;
        transition: 300ms ease;
    }
    .icon {
        background: #0000;
        margin-bottom: 5px;
        padding: 3px;
        width: 30px;
        border-radius: 30px;
        box-sizing: border-box;
        transition: 300ms ease;
    }
    .on {
        color: var(--he);
        .icon {
            background: var(--pri);
            width: 97%;
        }
    }
}
.search-bar-home {
    display: flex;
    width: 100%;
    padding: 12px 18px;
    padding-top: 15px;
    box-sizing: border-box;
    justify-content: center;
    .search-box {
        flex-grow: 3;
        display: flex;
        align-items: center;
        padding: 10px 6px;
        padding-left: 15px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        height: 30px;
        background: #fefeff30;
        i {
            margin-bottom: 2px;
        }
    }
    h4 {
        font-weight: 400;
        margin-left: 12px;
        color: inherit;
    }
    .avatar-user {
        flex-basis: fit-content;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background: #fefeff30;
        padding: 10px 6px;
        padding-right: 15px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        height: 30px;
        button {
            background: #fefeff30;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            i {
                font-size: 21px;
                margin-bottom: 2px;
            }
        }
    }
}
.content-home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .bread-crumb {
        flex-basis: 160px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;
        button {
            background: #fefeff30;
            padding: 6px 12px;
            border-radius: 30px;
            margin: 9px;
            transition: 300ms ease;
            &:first-child {
                margin-left: 20px;
            }
            &:last-child {
                margin-right: 18px;
            }
        }
        .on {
            color: var(--he);
            background: var(--pri);
        }
    }
    .con {
        flex-grow: 3;
        overflow-y: auto;
        div {
            width: 100%;
            padding: 50px 0;
            text-align: center;
            font-size: 2em;
            background: #fefeff23;
            margin: 18px 0;
            &:last-child {
                margin-bottom: 220px;
            }
        }
    }
}
