.primary {
    background: var(--pri);
    color: var(--body);
    width: fit-content;
    padding: 18px 32px;
    margin: 20px 30px;
    border-radius: 12px;
    font-size: 1.2rem;
}
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 66;
    padding: 18px 22px calc(30px + 0.2vh) 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    .navbar-btn {
        flex-basis: 23%;
        color: var(--co);
        transition: 300ms ease;
        h5 {
            color: var(--co);
            transition: 300ms ease;
        }
        i {
            margin-bottom: 10px;
        }
    }
    .navbar-btn.on {
        color: var(--bg);
        h5 {
            color: var(--he);
        }
    }
    .navbar-btn-bg {
        position: absolute;
        top: 13px;
        z-index: -1;
        background: var(--pri);
        width: 40px;
        height: 40px;
        border-radius: 8px;
        transition: 300ms ease;
    }
}
// @media screen and (prefers-color-scheme: light) {
//     .navbar .navbar-btn.on {
//         color: var(--truePri);
//     }
// }
