@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
* {
	margin: 0;
	padding: 0;
	border: 0;
	scroll-behavior: smooth;
}
:root {
	--lightCo: #2222237d;
	--lightHe: #121213;
	--lightBg: #fefeff;
	--lightBo: #ededee;
	--darkCo: #dddddd7d;
	--darkHe: white;
	--darkBg: #2e2e2f;
	--darkBo: #202021;
	--co: var(--lightCo);
	--he: var(--lightHe);
	--bg: var(--lightBg);
	--body: var(--lightBo);
	--pri: rgba(94, 218, 23, 0.76);
	color-scheme: light;
}
html, body {
	font: 15px "Plus Jakarta Sans", sans-serif;
	color: var(--co);
	background: var(--body);
}
h1, h2, h3, h4, h5, h6 {
	color: var(--he);
}
button {
	color: var(--co);
	font: inherit;
	background: #0000;
}
i {
	display: inline-flex;
	font-size: 24px;
}
i::before {
	margin: 0 auto;
	margin-top: 3px;
}
div {
	background: var(--bg);
}
.App {
	background: #0000;
}
@media screen and (prefers-color-scheme: dark) {
	:root {
		--co: var(--darkCo);
		--he: var(--darkHe);
		--bg: var(--darkBg);
		--body: var(--darkBo);
		color-scheme: dark;
	}
}